extends layout

block content
  h1 SMS Notifications

  p.
    Use this form to send MMS notifications to any subscribers.

  form(action='/message/send', method='POST')

    // The text of the message to send
    .form-group
      label(for='message') Enter a message
      input.form-control(type='text', name='message',
        placeholder='Hi there, gorgeous ;)')

    // An optional image URL
    .form-group
      label(for='imageUrl') (Optional) Image URL to send in an MMS
      input.form-control(type='text', name='imageUrl',
        placeholder='http://fake.twilio.com/some_image.png')

    button.btn.btn-primary(type='submit') Send Yourself a Message!